streamlit>=1.50.0
streamlit-aggrid>=1.1.9
streamlit-authenticator>=0.4.2
streamlit[pdf]
sqlalchemy
pydantic
pydantic[email]
cryptography
python-dotenv
aiosqlite
bcrypt
requests
pyyaml
reportlab>=4.4.4

# Documentation
mkdocs-material
mkdocs-with-pdf

# Development dependencies
pytest
pytest-asyncio
pytest-cov
black
isort
flake8
